fastapi~=0.115.6
uvicorn
web3~=7.6.0
psycopg2-binary
pydantic~=2.10.3
celery~=5.4.0
redis
pytest
pytest-asyncio
sqlalchemy~=2.0.36

asyncpg==0.28.0
#psycopg2==2.9.6
alembic==1.10.3
httpx==0.24.0
pydantic-settings
apscheduler
eventlet